<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gợi ý món ăn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=groups" />
</head>
<body>
    <div class="container">
        <h2>Tìm kiếm món ăn dựa trên nguyên liệu</h2>
        <div class="search-container">
            <input id="search" type="text" placeholder="Tìm kiếm dựa trên nguyên liệu" onkeypress="handleKeyPress(event)">
            <button class="search-btn" onclick="searchFood()">Tìm kiếm</button>
        </div>
        <h5>Chọn các món ăn:</h5>
        <div class="category-container">
            <div class="category">
                <button class="category-btn" onclick="toggleDropdown('meat-dropdown')">Thịt</button>
                <div class="dropdown-content" id="meat-dropdown">
                    <button class="dropdown-item" onclick="selectItem(this)">Thịt bò</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Thịt heo</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Thịt gà</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Thịt cừu</button>
                </div>
            </div>
        
            <div class="category">
                <button class="category-btn" onclick="toggleDropdown('seafood-dropdown')">Hải sản</button>
                <div class="dropdown-content" id="seafood-dropdown">
                    <button class="dropdown-item" onclick="selectItem(this)">Cá</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Tôm</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Mực</button>
                </div>
            </div>

            <div class="category">
                <button class="category-btn" onclick="toggleDropdown('vegetable-dropdown')">Rau củ</button>
                <div class="dropdown-content" id="vegetable-dropdown">
                    <button class="dropdown-item" onclick="selectItem(this)">Rau húng</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Rau muống</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Rau răm</button>
                    <button class="dropdown-item" onclick="selectItem(this)">khoai tây</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Cà rốt</button>
                    <button class="dropdown-item" onclick="selectItem(this)">Hành</button>
                </div>
            </div>

        </div>
        
        <div id="selected-items"></div> <!-- Hiển thị các danh mục đã chọn -->
    </div>
    <div class="food-list" id="food-list"></div>

    <div id="foodModal" class="modal">
        <div class="modal-content"> 
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="foodName"></h2>
            <button onclick="showOverview()">Tổng quan</button>
            <button onclick="showIngredients()">Nguyên liệu</button>
            <button onclick="showInstructions()">Hướng dẫn</button>
            <button id="videoButton" onclick="showVideo()">Video</button>    
            <div id="foodDetails"></div>    
        </div>
    </div>

    <script>
        let currentFood = null;
        let selectedItemsText = "";

        function toggleDropdown(dropdownId) {
            let dropdown = document.getElementById(dropdownId);
            let allDropdowns = document.querySelectorAll(".dropdown-content");

            // Đóng tất cả các dropdown khác trước khi mở cái được nhấn
            allDropdowns.forEach((el) => {
                if (el.id !== dropdownId) {
                    el.style.display = "none";
                }
            });

            // Hiển thị hoặc ẩn dropdown được nhấn
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        function selectItem(button) {
            button.classList.toggle("selected");

            updateSelectedItems();
        }

        function updateSelectedItems() {
            let selectedItems = [];
            document.querySelectorAll(".dropdown-item.selected").forEach(btn => {
                selectedItems.push(btn.innerText);
            });

            selectedItemsText = selectedItems.length ? selectedItems.join(", "): "";

            if (selectedItems.length === 0) {
                document.getElementById("selected-items").innerHTML = "";
            }
            else{
                searchFood();
                document.getElementById("selected-items").innerHTML = "Đã chọn: " + selectedItemsText;
            }
        }

        // Function to display foods dynamically
        function displayFoods(list) {
            let foodList = document.getElementById("food-list");
            foodList.innerHTML = "";
            
            if (list != ""){
                list.forEach(food => {
                    let div = document.createElement("div");
                    div.className = "food-card";
                    div.onclick = () => openModal(food);
                    
                    // Create the structure of the card
                    div.innerHTML = `
                        <img src="${food.image}" alt="${food.title}" class="food-image">
                        <h3>${food.title}</h3>
                        <div class="food-details">
                            <span class="food-detail">
                                <img src="{{ url_for('static', filename='images/people.svg') }}" alt="mini-image-1" class="mini-image">
                                <p>${food.people}</p>
                            </span>
                            <span class="food-detail">
                                <img src="{{ url_for('static', filename='images/chef_hat.svg') }}" alt="mini-image-2" class="mini-image">
                                <p>${food.difficulty}</p>
                            </span>
                            <span class="food-detail">
                                <img src="{{ url_for('static', filename='images/timer.svg') }}" alt="mini-image-3" class="mini-image">
                                <p>${food.time}</p>
                            </span>
                        </div>
                    `;
                    
                    foodList.appendChild(div);
                });
            }else{
                foodList.innerHTML = "<h3>Không tìm thấy món ăn phù hợp</h3>";
            }

        }
        
        const truncateDescription = (description) => {
            const sentences = description.split('.'); // Tách câu theo dấu chấm
            return sentences.length > 1 
                ? sentences.slice(0, 1).join('.') + '...' // Lấy 2 câu đầu tiên và thêm dấu chấm
                : description;
        };

        // Open modal and show food details
        function openModal(food) {
            currentFood = food;
            document.getElementById("foodName").innerText = currentFood.title;
            document.getElementById("foodDetails").innerHTML = `
                <img src="${currentFood.image}" alt="${currentFood.title}" class="modal-image">
                <div id="Details">
                   <p>${truncateDescription(currentFood.description)}</p>
                </div>
                <div class="food-details">
                    <span class="food-detail">
                        <img src="{{ url_for('static', filename='images/people.svg') }}" alt="mini-image-1" class="mini-image">
                        <p>${food.people}</p>
                    </span>
                    <span class="food-detail">
                        <img src="{{ url_for('static', filename='images/chef_hat.svg') }}" alt="mini-image-2" class="mini-image">
                        <p>${food.difficulty}</p>
                    </span>
                    <span class="food-detail">
                        <img src="{{ url_for('static', filename='images/timer.svg') }}" alt="mini-image-3" class="mini-image">
                        <p>${food.time}</p>
                    </span>
                </div>
            `;            
            document.getElementById("foodModal").style.display = "block";
        }

        // Close modal
        function closeModal() {
            document.getElementById("foodModal").style.display = "none";
            stopVideo();
        }

        // Show Overview
        function showOverview() {
            openModal(currentFood);
            stopVideo();
        }

        // Show Ingredients
        function showIngredients() {
            document.getElementById("foodDetails").innerHTML = 
            `
                <p class="a-note"><strong>Ghi chú:</strong> M: muỗng canh - m: muỗng cafe</p>
                <table style="width: 100%; text-align: left;">
                    <thead>
                        <tr>
                            <th>Nguyên liệu</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>    
                    <tbody>
                        ${currentFood.ingredients_processed.map(ingredient => `
                            <tr>
                                <td style = "text-transform: capitalize;">${ingredient.name}</td>
                                <td>${ingredient.quantity}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>
            `;
            stopVideo();
        }

        // Show Instructions
        function showInstructions() {
            let count = 1;
            document.getElementById("foodDetails").innerHTML = 
            `   
                <strong>Chuẩn bị:</strong>
                <p>${currentFood.preparation || "Không có thông tin"}</p>  
                <strong>Thực hiện:</strong>
                <p>${currentFood.execution || "Không có thông tin"}</p>  
                <strong>Sử dụng:</strong>
                <p>${currentFood.usage || "Không có thông tin"}</p> 
                <strong>Mách nhỏ:</strong>
                <p>${currentFood.tips || "Không có thông tin"}</p>       
            `;
            stopVideo();
        }

        // Show Video function
        function showVideo() {
            const videoUrl = currentFood.video;  // Assume videoUrl is the YouTube link
            const videoId = videoUrl.split('v=')[1].split('&')[0] || "Không có thông tin";  // Extract YouTube video ID from the URL

            document.getElementById("foodDetails").innerHTML = `
                <div class="video-modal-content">
                    <span class="close" onclick="closeVideoModal()">&times;</span>
                    <iframe width="100%" height="315" 
                            src="https://www.youtube.com/embed/${videoId}" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                            allowfullscreen>
                    </iframe>
                </div>
            `;
        }

        function stopVideo() {
            const iframe = document.querySelector(".video-modal-content iframe");
            if (iframe) {
                iframe.src = iframe.src; // Reset the iframe src to stop the video
            }
        }

        // Handle key press event
        function handleKeyPress(event) {
            if (event.key === "Enter") searchFood();
        }

        // Search food via API request
        function searchFood() {
            let query = document.getElementById("search").value;

            if (query != ""){
                query = selectedItemsText +", " + query;
            }else{
                query = selectedItemsText;
            }
            fetch(`/search?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    if (data.length === 0) {
                        displayFoods("");
                    } else{
                        displayFoods(data);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        // Load first 10 foods on page load
        window.onload = function() {
            fetch('/foods')
                .then(response => response.json())
                .then(data =>displayFoods(data))
                .catch(error => console.error('Error:', error));
        };

        document.addEventListener("click", function (event) {
            if (!event.target.closest(".category-btn") && !event.target.closest(".dropdown-content")) {
                document.querySelectorAll(".dropdown-content").forEach(menu => {
                    menu.style.display = "none";
                });
            }
        });
    </script>
</body>
</html>
